.about-con {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5px 20px 1px 20px;
}
.about-con-1 {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5px 20px 1px 20px;
}

.home-logo {
  height: 300px;
  margin-bottom: 50px;
}

.h1 {
  font-size: 40px;
}
